#line {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: black;
  animation: rotateLine 2s linear infinite;
}

@keyframes rotateLine {
  100% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
